* {
  box-sizing: border-box;
}

html {
  text-size-adjust: none;
  -webkit-text-size-adjust: none;
  -moz-text-size-adjust: none;
  -ms-text-size-adjust: none;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.title-text{
  text-align: center;
}

#input-section{
  margin-top: 75px;
  display: flex;
  gap: 96px;
  min-height: 200px;
  margin-left: 10%;
  margin-right: 10%;

}

#submit-result{
  display: flex;
  margin-top: 75px;
  gap: 96px;
  min-height: 200px;
  margin-left: 10%;
  margin-right: 10%;
}


.demo-wrap {
  margin-top: 90px;
  overflow: hidden;
  position: relative;
  min-height: 600px;
  gap: 20px;
}
.demo-bg {
  src: url('../image/ucsd_bg.jpg');
  opacity: 0.4;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: auto;
}

.demo-content {
  margin-top:20%;
  margin-left: 5%;
  margin-right:5%;
  position: relative;
}







