body {
  font-family: Consolas, monaco, monospace;
}

.nav-title {
  font-weight: 700;
  font-size: 24px;
}

.button-text {
  font-size: 14px;
  font-weight: 700;
}

.image-caption {
  font-size: 18px;
  font-weight: 500;
}

.title-text {
  font-size: 40px;
  font-weight: 700;
}

.subheader-text {
  font-size: 20px;
  font-weight: 700;
}

.body-text {
  font-size: 16px;
  font-weight: 500;
}
