<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">

    <link rel="icon" href="./assets/icons/data-science.png" />
		<title>Sunwoo Kim's portfolio</title>
    <meta name="description" content="Rent prediction around UCSD">

	<link rel="stylesheet" href="{{ url_for('static', filename='css/layout.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/typography.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/utilities.css') }}">

		<script defer src="./js/script.js"></script>
	</head>
	<body>

    <div id="main-content">
      <div id="header">
        <div id = "header-bg">
            <div id="header-text-container">
                <div class="title-text">
                    <span>Welcome to rent prediction around UCSD.</span>
                </div>
                <div class="body-text">
                    <div>This is based on the dataset provided by ... and used ... model to make a prediction.
                        Scroll down to input values that you are looking for!
                        Currently under development...
                    </div>
                </div>
            </div>
        </div>
      </div>
    </div>
    <div class="navbar">
        <a class="nav-title-link">
          <span class="nav-title">Rent price prediction around UCSD</span>
          <a class="button" href="https://sunwoo604.github.io/">
            <span class="button-text">My main portfolio</span>
          </a>
        </a>
      </div>


	</body>
</html>

